::-moz-selection {
  color: #fff;
  background: #a30000;
}

::selection {
  color: #fff;
  background: #a30000;
}

.disable-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  height: 100%;
  font-size: 16px;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  color: #101f27;
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6rem;
  z-index: 1000;
}

img#smiLogoWelcome {
  height: 10rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 1000;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
}

#background #videoOverlay {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(221, 44, 0, 0.5) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAIklEQVQYV2NkYGD4zwABjFAazsEpgawQzkbRjmws0RJwowBqkgQHgVuafAAAAABJRU5ErkJggg==) repeat;
  box-shadow: inset 0 0 50rem 10rem rgba(0, 0, 0, 0.5);
}

#background #backgroundVideo {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url("/assets/videoCover1.jpg") no-repeat;
  background-size: cover;
  transition: 1s opacity;
  z-index: 1;
  filter: grayscale(1);
}

#background #backgroundVideo[poster] {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: 50% 50%;
}

h1 {
  font-size: 6rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  font-family: "Quicksand", sans-serif;
}

p,
ul {
  font-size: 2rem;
  margin: 1rem 0 2rem;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s all;
}

a:visited, a:active, a:hover {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: #dd2c00;
}

.no-margin,
.no-margin-h,
.no-margin-left {
  margin-left: 0 !important;
}

.no-margin,
.no-margin-h,
.no-margin-right {
  margin-right: 0 !important;
}

.no-margin,
.no-margin-v,
.no-margin-top {
  margin-top: 0 !important;
}

.no-margin,
.no-margin-v,
.no-margin-bottom {
  margin-bottom: 0 !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clr {
  clear: both;
}

.typed-cursor {
  opacity: 1;
  font-weight: 100;
  animation: blink 0.7s infinite;
}

.site-section {
  position: relative;
  display: grid;
  margin: 0 auto;
  z-index: 100;
}

.whiteprint {
  background-color: #fff;
  background-image: linear-gradient(rgba(204, 204, 204, 0.6) 2px, transparent 2px), linear-gradient(90deg, rgba(204, 204, 204, 0.6) 2px, transparent 2px), linear-gradient(rgba(204, 204, 204, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(204, 204, 204, 0.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  background: #fff;
  box-shadow: 0 -2rem 5rem -1rem rgba(0, 0, 0, 0.7);
  z-index: 100;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
}

#welcome {
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
  height: 100%;
  padding: 5rem 2rem;
  max-width: 97rem;
}

#welcome > header {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: center;
  align-self: center;
  z-index: 20;
  color: #fff;
  text-align: center;
  text-shadow: 0rem 0.5rem 2rem #000;
}

#welcome > header > h1 {
  font-size: 7rem;
}

#welcome > header > h2 {
  font-size: 4rem;
}

#welcome > #downArrow {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;
  align-self: center;
  z-index: 20;
  color: #fff;
  text-align: center;
  text-shadow: 0rem 0.5rem 2rem #000;
  font-size: 5rem;
}

#whatWeDo {
  max-width: 97rem;
  padding: 10rem 2rem 2rem;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  grid-template-rows: 100%;
  overflow: hidden;
}

#whatWeDo > article {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  margin-right: 1rem;
  justify-self: center;
}

#whatWeDo > article > p {
  text-shadow: 0rem 0rem 0.2rem #fff, 0rem 0rem 0.5rem #fff, 0rem 0rem 1rem #fff, 0rem 0rem 1rem #fff;
}

#whatWeDo > img {
  max-width: 100%;
  justify-self: center;
}

#services {
  grid-template-columns: 1fr minmax(36rem, 97rem) 1fr;
  grid-auto-rows: auto;
  padding: 5rem 0 0;
}

#services > h1 {
  grid-column-start: 2;
  grid-row-start: 1;
  max-width: 97rem;
  justify-self: start;
  align-self: center;
  text-align: center;
  padding: 0 2rem;
}

#services > section {
  grid-column-start: 2;
}

#services > #cleaningAndPainting {
  min-height: 60rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 1fr minmax(36rem, 97rem) 1fr;
  grid-template-rows: 5rem 1fr 3fr 2rem;
  background: #fff;
}

#services > #cleaningAndPainting > .twentytwenty-wrapper {
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: -1;
  z-index: 5;
  overflow: hidden;
  height: 60rem;
  cursor: ew-resize;
}

#services > #cleaningAndPainting > .twentytwenty-wrapper > .twentytwenty-container {
  height: 60rem !important;
}

#services > #cleaningAndPainting > .twentytwenty-wrapper > .twentytwenty-container img {
  max-width: 100%;
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: 50% 50%;
}

#services > #cleaningAndPainting > article {
  grid-column-start: 2;
  grid-row-start: 3;
  align-self: end;
  z-index: 10;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0.5rem);
  padding: 1rem 2rem;
  max-width: calc(100% - 4rem);
  margin: 0 auto;
}

#services #metrics,
#services #dynamicSwinging,
#services #grinding,
#services #frame {
  position: relative;
  grid-column-start: 2;
  grid-column-end: -2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
  padding: 2rem;
  align-items: center;
}

#services #metrics > .pic,
#services #dynamicSwinging > .pic,
#services #grinding > .pic,
#services #frame > .pic {
  width: 25rem;
  height: 25rem;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  grid-row-start: 1;
  box-shadow: 0rem 0rem 1rem 0 rgba(255, 100, 52, 0.5);
}

#services #metrics > .pic > img,
#services #dynamicSwinging > .pic > img,
#services #grinding > .pic > img,
#services #frame > .pic > img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: 50% 50%;
}

#services #metrics > article,
#services #dynamicSwinging > article,
#services #grinding > article,
#services #frame > article {
  grid-row-start: 1;
}

#services #metrics {
  grid-row-start: 3;
  overflow: visible;
}

#services #metrics > article {
  grid-column: 2 / span 3;
}

#services #metrics > .whiteprint {
  position: absolute;
  top: 50%;
  left: 10%;
  height: 25rem;
  width: 35rem;
  box-shadow: inset 0rem 0rem 5rem 3rem #fff;
  border-radius: 50%;
  z-index: -1;
}

#services #dynamicSwinging {
  grid-row-start: 4;
}

#services #dynamicSwinging > .pic {
  grid-column-start: 4;
}

#services #dynamicSwinging > article {
  grid-column: 1 / span 3;
}

#services #grinding {
  grid-row-start: 5;
}

#services #grinding > article {
  grid-column: 2 / span 3;
}

#services #grinding > .whiteprint {
  position: absolute;
  top: 50%;
  right: 10%;
  height: 40rem;
  width: 60rem;
  box-shadow: inset 0rem 0rem 5rem 3rem #fff;
  border-radius: 50%;
  z-index: -1;
}

#services #frame {
  grid-row-start: 6;
}

#services #frame > .pic {
  grid-column-start: 4;
}

#services #frame > article {
  grid-column: 1 / span 3;
}

#services > #cad {
  min-height: 50rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  grid-row-start: 7;
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 1fr minmax(36rem, 97rem) 1fr;
  grid-template-rows: 2;
  padding: 5rem 0 2rem;
}

#services > #cad > article {
  grid-column-start: 2;
  align-self: end;
  z-index: 10;
  color: #000;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0.5rem);
  padding: 2rem;
  max-width: 66%;
  margin-left: 2rem;
}

#services > #cad > img.heroCover {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: 5;
}

#services > #smiSoft {
  min-height: 30rem;
  overflow: hidden;
  position: relative;
  grid-row-start: 8;
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 1fr minmax(36rem, 97rem) 1fr;
  grid-template-rows: 2;
  padding: 5rem 0 2rem;
  background: #fff;
}

#services > #smiSoft:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  z-index: 5;
}

#services > #smiSoft > article {
  grid-column-start: 2;
  align-self: center;
  z-index: 10;
  color: #000;
  max-width: 66%;
  margin: 0 auto;
  text-align: center;
}

#services > #smiSoft > img.heroCover {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: 5;
  opacity: 0.5;
}

#heroes {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr minmax(36rem, 97rem) 1fr;
  grid-auto-rows: auto;
  padding: 5rem 0 0;
}

#heroes:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#80000000", GradientType=0 );
  z-index: 5;
}

#heroes > img.heroCover {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: 50% 0%;
  z-index: 5;
  margin-top: 25%;
}

#heroes > img.heroes {
  width: 100%;
  grid-row-start: 2;
  grid-column: 1 / -1;
}

#heroes > h2 {
  grid-column-start: 2;
  grid-row-start: 1;
  z-index: 10;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0 2rem;
  text-transform: uppercase;
}

#equipmentWeRock {
  background: #fff;
  padding: 5rem 0;
  grid-template-columns: 1fr minmax(36rem, 97rem) 1fr;
  grid-auto-rows: auto;
}

#equipmentWeRock > header {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: -2;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

#equipmentWeRock #equipmentSwiper {
  grid-column-start: 1;
  grid-column-end: -1;
}

#equipmentWeRock #equipmentSwiper:before, #equipmentWeRock #equipmentSwiper:after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5%;
  content: "";
  z-index: 10;
}

#equipmentWeRock #equipmentSwiper:before {
  left: 0;
  background: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#00ffffff", GradientType=1 );
}

#equipmentWeRock #equipmentSwiper:after {
  right: 0;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00ffffff", endColorstr="#ffffff", GradientType=1 );
}

#equipmentWeRock #equipmentSwiper .swiper-slide {
  width: auto;
  margin: 0 3rem;
}

#equipmentWeRock #equipmentSwiper .swiper-slide .equipment {
  padding: 2rem 0;
}

#equipmentWeRock #equipmentSwiper .swiper-slide .equipment > .pic {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  margin: 0 auto 3rem;
  position: relative;
}

#equipmentWeRock #equipmentSwiper .swiper-slide .equipment > .pic > img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: contain;
  object-fit: contain;
  object-position: 50% 50%;
}

#equipmentWeRock #equipmentSwiper .swiper-slide .equipment h3 {
  text-align: center;
  max-width: 20rem;
}

#equipmentWeRock #equipmentSwiper .swiper-button-prev,
#equipmentWeRock #equipmentSwiper .swiper-button-next {
  background: none;
  position: absolute;
  line-height: 5rem;
  font-size: 5rem;
  height: 5rem;
  margin-top: -2.5rem;
  width: 3rem;
  text-align: center;
  color: #dd2c00;
  z-index: 12;
}

#equipmentWeRock #equipmentSwiper .swiper-button-prev {
  left: 0.5rem;
}

#equipmentWeRock #equipmentSwiper .swiper-button-next {
  right: 0.5rem;
}

#brandsWeLove {
  background: #f5f5f5;
  padding: 5rem 0;
  grid-template-columns: 1fr minmax(36rem, 97rem) 1fr;
  grid-auto-rows: auto;
}

#brandsWeLove > header {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: -2;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

#brandsWeLove > .brands {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: -2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24.25rem, 1fr));
  grid-auto-rows: auto;
  justify-items: center;
  align-items: center;
}

#brandsWeLove > .brands > a {
  text-decoration: none;
  color: #000;
}

#brandsWeLove > .brands img {
  padding: 2rem;
  max-width: 100%;
  max-height: 10rem;
  filter: grayscale(1) opacity(0.7);
  transition: 0.6s all;
}

#brandsWeLove > .brands img:hover {
  filter: grayscale(0) opacity(1);
}

#whereWeAre {
  min-height: 50rem;
  background: #000;
  grid-template-columns: 1fr minmax(36rem, 97rem) 1fr;
  grid-template-rows: 5rem auto 2rem;
}

#whereWeAre:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#80000000", endColorstr="#00000000", GradientType=0 );
}

#whereWeAre > article {
  font-size: 1.4rem;
  grid-row: 2 / span 1;
  grid-column: -3 / span 1;
  z-index: 10;
  align-self: end;
  justify-self: end;
  color: #000;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0.5rem);
  padding: 1rem 2rem;
  margin: 0 2rem;
  max-width: 40rem;
}

#whereWeAre > article .svg-inline--fa {
  margin-right: 1rem;
}

#whereWeAre > article .socialmedia {
  margin: 3rem 0;
  text-align: center;
}

#whereWeAre > article .socialmedia a {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  margin-right: 1rem;
  border-radius: 50%;
  background: #000;
  color: #fff;
}

#whereWeAre > article .socialmedia a:hover {
  background: #dd2c00;
}

#whereWeAre > article .socialmedia svg {
  margin: 0;
}

#whereWeAre #locationMap {
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: -1;
}

footer {
  background: #101f27;
  display: grid;
  position: relative;
  padding: 5rem 0;
  z-index: 100;
  grid-template-columns: 1fr minmax(36rem, 97rem) 1fr;
  grid-auto-rows: auto;
  align-items: center;
  overflow: hidden;
}

footer > .footer-logo {
  height: 10rem;
  grid-column: 2 / span 1;
  grid-row-start: 1;
  margin-left: 2rem;
}

footer #tachusoProud {
  grid-column-end: -2;
  grid-row-start: 2;
  margin-right: 2rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.6rem;
  line-height: 2rem;
  height: 2rem;
  justify-self: end;
}

footer #tachusoProud img,
footer #tachusoProud svg {
  margin: 0 0.6rem;
}

footer #tachusoProud .flag {
  height: 2rem;
}

footer #tachusoProud .heart {
  font-size: 1.8rem;
}

footer #tachusoProud .tachusoLogo {
  height: 2.6rem;
  margin-top: -0.3rem;
}

#gearGroup1 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 47rem;
  height: 40rem;
  overflow: hidden;
  z-index: 97;
}

#gearGroup1 img#gear1 {
  position: absolute;
  top: 0;
  right: -2rem;
}

#gearGroup1 img#gear2 {
  position: absolute;
  top: 16.5rem;
  left: 0;
}

img#gear3 {
  position: absolute;
  right: 18.6rem;
  bottom: -5rem;
  z-index: 101;
}

img#gear4 {
  position: absolute;
  right: 6rem;
  top: 2.5rem;
}

@media screen and (max-width: 768px) {
  #services > #cleaningAndPainting {
    overflow: hidden;
    position: relative;
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: 1fr minmax(36rem, 97rem) 1fr;
    grid-template-rows: 40rem auto 2rem;
    background: #fff;
  }
  #services > #cleaningAndPainting > .twentytwenty-wrapper {
    height: 40rem;
    grid-row: 1 / span 1;
  }
  #services > #cleaningAndPainting > .twentytwenty-wrapper > .twentytwenty-container {
    height: 40rem !important;
  }
  #services > #cleaningAndPainting > article {
    grid-row: 2 / span 1;
    background: none;
    backdrop-filter: none;
    padding: 0;
  }
  img#gear1 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #services #metrics,
  #services #dynamicSwinging,
  #services #grinding,
  #services #frame {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    padding: 0;
  }
  #services #metrics > article,
  #services #dynamicSwinging > article,
  #services #grinding > article,
  #services #frame > article {
    grid-row: 2;
    grid-column: 1 / span 2;
    padding: 0 2rem 2rem;
  }
  #services #metrics > .pic,
  #services #dynamicSwinging > .pic,
  #services #grinding > .pic,
  #services #frame > .pic {
    grid-row: 1;
    grid-column: 1 / span 2;
    border-radius: 0;
    width: 100%;
  }
  #services #metrics .whiteprint,
  #services #grinding .whiteprint {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 45%;
  }
  #welcome > header > h1 {
    font-size: 5rem;
  }
  #welcome > header > h2 {
    font-size: 3rem;
  }
  #services > #cad > img.heroCover {
    object-position: 100% 50%;
  }
  #services > #cad > article {
    max-width: none;
    width: calc(100% - 4rem);
    margin: 25rem auto 0;
    padding: 1rem;
  }
  #services > #cleaningAndPainting {
    grid-template-rows: 30rem auto 2rem;
  }
  #services > #cleaningAndPainting > .twentytwenty-wrapper {
    height: 30rem;
  }
  #services > #cleaningAndPainting > .twentytwenty-wrapper > .twentytwenty-container {
    height: 30rem !important;
  }
  #whereWeAre > article {
    max-width: none;
    width: calc(100% - 4rem);
  }
  img#gear4 {
    right: 3.6rem;
    top: 0.5rem;
  }
}

@media screen and (max-height: 480px) {
  #gear2 {
    display: none;
  }
}
